@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.main-index {
  text-align: center;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.main-logo {
  background-image: url("../images/welcome-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-advantages-description,
.invitation-lead,
.subscribe-lead,
.booking-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-advantages-introduction,
.invitation-advantages,
.booking-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.main-background {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.secondary-background {
  background-color: #f0f6fa;
}

.light-background {
  background-color: #e6f0f6;
}

.secondary-background .advantages-description {
  color: #333333;
}

.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.benefits-description {
  color: #333333;
}

.accomodation-icon {
  background-image: url("../images/benefits-icons/benefits-accomodation.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
}

.food-icon {
  background-image: url("../images/benefits-icons/benefits-food.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
}

.souvenirs-icon {
  background-image: url("../images/benefits-icons/benefits-souvenirs.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
}

.booking-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background: #82B3D3;
}

.contacts-phone a {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.header-filter-background {
  color: #FFFFFF;
  background-image: url("../images/filters-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.home-icon {
  background-image: url("../images/breadcrumbs-home-logo.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.sort-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotels-card-booking-type,
.hotels-card-price {
  color: #333333;
}

.hotels-card-book-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
}

.button.hotels-card-book-button {
  background: #756157;
}

.hotel-rating-level {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.catalog-subscribe {
  text-align: center;
}
